<div>
    <div class="grid-container botones">
        <div></div>
        <button class="btn btn-primary">Nuevo juego</button>
        <button class="btn btn-primary">Comenzar</button>
    </div>
    <div class="cuerpo">
        <p>Jugador/a 1</p>
        <div class="grid-container">
            <input type="text" id="input-jugador1">
            <div id="ficha-roja"></div>
        </div>

        <p>Jugador/a 2</p>

        <div class="grid-container">
            <input type="text" id="input-jugador2">
            <div id="ficha-azul"></div>
        </div>

    </div>
</div>