<body>
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <img src="../assets/logo-ubb.png" height="100px">
      </div>
      <div class="col-md-4">
        <h1>JUEGO CONECTA 4</h1>
      </div>
      <div class="col-md-4">
        <img src="../assets/logo-ici.png" height="100px">
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-5" id="izquierda">
      <div class="card">
        <p>Izquierda Arriba</p>
      </div>

      <br>
      <h3>Mensajes</h3>
      <div class="card">
        <p>Izquierda Abajo</p>
      </div>
    </div>
    <div class="col-md-7" id="derecha">
      <div class="card">
        <p>Derecha</p>
      </div>
    </div>
  </div>
  <p>Estudiante: Claudio Macher Chávez - Desarrollo Frontend con Angular (2022)</p>
</body>