<body>
  <div class="grid-container">
    <div class="cuadro-1 flex-container">
      <img src="../assets/logo-ubb.png" height="75px">
      <h1>JUEGO CONECTA 4</h1>
      <img src="../assets/logo-ici.png" height="75px">
    </div>
    <div class="cuadro-2">
      <control></control>
    </div>
    <div class="cuadro-3">
      <tablero></tablero>
    </div>
    <div class="cuadro-4">
      <mensajes></mensajes>
    </div>
    <div class="cuadro-5">
      <p>Estudiante: Claudio Macher Chávez - Desarrollo Frontend con Angular (2022)</p>
    </div>
  </div>
</body>