<div id="fondo" class="grid-container">
    <button class="btn btn-primary" id="">1</button>
    <button class="btn btn-primary" id="">2</button>
    <button class="btn btn-primary" id="">3</button>
    <button class="btn btn-primary" id="">4</button>
    <button class="btn btn-primary" id="">5</button>
    <button class="btn btn-primary" id="">6</button>
    <button class="btn btn-primary" id="">7</button>

    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
    <div class="agujero"></div>
</div>
